@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Days+One&family=Rammetto+One&family=Special+Elite&display=swap');


/* Global styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-style: "p";
}
textarea {
  min-width: 45vh;
  color: #571a06;
  display: block;
  padding: 1.5rem;
  margin: 0rem 2rem;
  border: 0.2rem solid #571a06;
  border-radius: 1rem;
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
}

#txt-output{
  min-width: 45vh;
  min-height: 25vh;
  display: block;
  border: 0.2rem solid #571a06;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0rem 2rem;
  font-family: 'Special Elite', cursive;
  color: #571a06;

   
}
p{
  font-family: 'Rammetto One', cursive;
  color: white;
  margin: 0rem 2rem;
}

header{
   background:#4b1705;
   min-height: 10vh;
   display: flex;
   justify-content: center;

}
.logo h1{
  font-size: 8rem;
  color: white;
  font-family: 'Rammetto One', cursive;
  /* padding: 0rem; */
  
}

.hero{
  background: linear-gradient(transparent,rgb(236, 155, 88)),url("/img/yodahero.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero{
  font-size: 2rem;
  text-align: center;
}

.box{
  margin: 2rem;
  display: flex;
  
}

.ins{
  color:#4b1705;
}

.hero #para{
  margin-top: 25rem ;
  margin-left: 2rem;
  text-align: start;
}

#btn-translate{
  
  font-size: 2rem;
  margin: 2rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background:#4b1705;
  border: white ;
  color: white;
  font-family: 'Rammetto One', cursive;
  margin-left: 40rem ;
}



footer {
  
  color: white;
  font-family: 'Rammetto One', cursive;
  padding: 0.5rem;
  background:#4b1705;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  
}

.end h3{
  font-size: 2rem;
}
.end a{
  color: white;
  text-decoration: none;
  font-size: 4rem;
  
}